*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
body{
	width: 100%;
	height: 100%;
	margin: auto;
	background: #fff;
	color: #666;
	overflow: hidden;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
a{
	transition: color .1s ease-in-out;
}
/*cite, footer, p:before{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
}*/
::selection{ 
	background: #ffe324;
	color: #444;
}
blockquote{
	text-align: left;
	position: absolute;
	top: 19%;
	left: 15%;
	width: 70%;
}
.quotation-mark{
	fill: #ddd;
	width: 40px;
}
p{
	font-size: 60px;
	line-height: 1.2;
	font-weight: 700;
	animation: right-in .4s ease-out 1;
}
@keyframes right-in {
	0%{opacity: 0; transform: translateX(10px);}
	40%{opacity: 1;}
	100%{opacity: 1; transform: translateX(0);}
}
p a{
	text-decoration: none;
	color: #666;
/*	border-bottom: 6px solid #ddd;*/
	position: relative;
	display: inline-block;
}
p a:after{
	display: block;
	content: "";
	height: 10px;
	background: #ffe324;
	position: absolute;
	width: 100%;
	bottom: 5px;
	z-index: -999;
	left: 0;
	transition: all .15s cubic-bezier(.8, 0, .2, 1);
	animation: underline-in .7s cubic-bezier(.9, 0, .1, 1)  0s 1;
}
@keyframes underline-in {
	0%{width: 0;}
	30%{width: 0;}
	100%{width: 100%;}
}
p a:hover{
	color: #444;
}
p a:hover:after{
	height: 100%;
}
cite{
 	font-size: 22px;
 	font-style: normal;
 	font-weight: 300;
 	color: #ddd;
	margin-top: 1.3em;
 	display: block;
	animation: right-in-2 .5s ease-out  1;
}
@keyframes right-in-2 {
	0%{opacity: 0;}
	40%{opacity: 0; transform: translateX(10px);}
	80%{opacity: 1;}
	100%{opacity: 1; transform: translateX(0);}
}
cite em{
	font-style: normal;
	font-weight: 100;
}
.source{
	opacity: 0;
}
.author, .source a{
	color: #999;
}
.source a{
	text-decoration: none;
}
.source a:hover{
	color: #666;
}
.source-episode{
	margin: 0 .1em;
}
.source-episode:before{
	content: "#";
}
/*~Footer*/
footer{
	opacity: 0;
	position: fixed;
	left: 15%;
	width: 70%;
	height: 80px;
	text-align: center;
	bottom: 0;
	color: #999;
	border-top: 1px solid #ddd;
	padding: 0;
	font-weight: 700;
}
footer strong{
	font-weight: 100;
	display: inline-block;
	background: #fff;
	padding: 0 1em;
	color: #bbb;
	margin: 0 auto;
	transform: translateY(-.8em);
	font-size: 16px;	
	animation: fade-in .2s ease-out 1;	
}
footer strong a{
	color: #ccc;
	text-decoration: none;
	font-weight: 700;
}
.latest-link{
	text-decoration: none;
	font-size: 18px;
	color: #999;
	display: inline-block;
}
.latest-link:hover{
	color: #666;
}
.latest-link:after{
	content: " ";
	width: 100%;
	height: .2em;
	transform: scaleX(0);
	display: block;
	background: #ffe324;
	transition: transform .15s cubic-bezier(.4,0,.3,1);
}
.latest-link:hover:after{
	transform: scaleX(1);
}
.latest-link em{
	font-style: normal;
}
.latest-link:visited{
	color: #999;
}
.latest-link:visited:hover{
	color: #666;
}
.new-badge{
	font-size: .5em;
	display: none;
	background: #ffe324;
	color: #222;
	vertical-align: top;
	padding: .3em .6em .3em;
	border-radius: 1em;
	font-weight: 700;
}
/*~Large Reslotuion*/
@media screen and (min-width: 1600px) {
	blockquote{
		top: 30%;
		width: 70%;
	}
}
/*~Small Reslotuion*/

@media screen and (max-height: 600px) {
	blockquote{
		top: 13%;
	}
}
@media screen and (max-height: 500px) {
	blockquote{
		top: 11%;
	}
	blockquote p{
		font-size: 40px;
	}
	footer{
		background: #fff;
	}
}
@media screen and (max-width: 1300px) {
	blockquote{
		top: 15%;
	}
	blockquote p{
		font-size: 52px;
	}
}
@media screen and (max-width: 1100px) {
	blockquote{
		top: 13%;
		left: 10%;
		width: 80%;
	}
	footer{
		left: 10%;
		width: 80%;
	}
}
@media screen and (max-width: 1000px) {
	blockquote{
		top: 11%;
	}
	blockquote p{
		font-size: 45px;
	}
}
@media screen and (max-width: 800px) {
	blockquote{
		top: 13%;
		left: 7%;
		width: 86%;
	}
	blockquote p{
		font-size: 40px;
	}
	cite{
		font-size: 14px;
	}
	footer{
		left: 7%;
		width: 86%;
	}
}